body{
	margin: o;
}
.box{
	height: 100px;
	width: 200px;
	padding: 10px;
	margin-bottom: 10px;
	display: inline-block;
	margin:0 10px 0 10px;
}
.yellow{
	background-color: #FFE633; 
}
.red{
	background-color: #F71616; 
}